:root {
    --bs-body-bg: black;
}

.header-jumbo {
    text-align: center;
    font-size: 70px;
    color: rgb(158, 246, 243);
}

.header-foot {
    text-align: center;
    font-size: 35px;
    color: rgb(158, 246, 243);
}

.jumbotron {
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: rgb(158, 246, 243);
}

.color-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
}