:root {
    --bs-body-bg: black;
}

.header-title {
    text-align: center;
    font-size: 50px;
    color: rgb(158, 246, 243);
}

.jumbotron {
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: rgb(158, 246, 243);
}
